/* 
   ------------------------------- GENERAL -------------------------------
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Arial";
  }

li {
    list-style-type: none;
  }

  a {
    text-decoration: none;
    color: black;
  }
  
.click:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.header__para {
    font-size: 20px;
}

#personal-logo {
    width: 18%;
  }

#personal-photo {
    width: 100%;  
  }

#text-container {
}

#landing-page {
    position: relative;
    width: 100%;
    margin-top: -350px;  
    z-index: -1;  
}

.profile_and_text_container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
}

#cartoon_yourself_text {
    padding-left: 30px;
}

.color-imagination {
    color: #f6c965;
}

.color-reality {
    color: #15b048;
}

.rotate img{
    transition: 1s ease;
    }
    
    .rotate img:hover{
    -webkit-transform: rotateZ(-10deg);
    -ms-transform: rotateZ(-10deg);
    transform: rotateZ(-10deg);
    transition: 1s ease;
    }
    

/* 
   ------------------------------- NAVIGATION -------------------------------
*/

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    height: 100px;
    padding: 0 20px;
  }

.languages_list {
    display: flex;
}

.nav__link {
    margin: 0 12px;
}

  /* 
   ------------------------------- PRICES + PORTFOLIO -------------------------------
*/

.unit_prices_images {
    margin-left: 40px;
    margin-right: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.unit_price_image {
    width: 270px;
    height: 400px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    text-align: center;
    background-color: #c2cdc2;
}

.unit_prices_div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

}

.unit_image_description {
    position:absolute;
    margin-bottom: 450px;
    margin-left: 6%;
}

#unit_price_text {
    text-align: center;
    position: relative;
    padding-bottom: 4%;
    color: #647f64;
}

.unit_image_price {
    font-size: 23px;
    position:absolute;
    margin-top: 430px;
    margin-left: 8%;
}

.background_price_section {
    margin-top: 90px;
    text-align: center;
    font-size: 23px;
    margin-bottom: 15px;
}

.set_prices_images {
    margin-left: 60px;
    margin-right: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.set_price_image {
    width: 270px;
    height: 410px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    text-align: center;
    background-color: #c2cdc2;
}

.set_prices_div {
    padding-top: 30px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

}

.set_image_description {
    position:absolute;
    margin-top: 500px;
    
}

.set_image_description_number {
    position:absolute;
    margin-top: 450px;
}

#set_price_text {
    text-align: center;
    position: relative;
    color: #647f64;
    padding-bottom: 2%;
}

.set_image_price {
    font-size: 23px;
    text-align: center;
}

.set_price_center_image {
    width: 600px;
    height: 400px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    background-color: #c2cdc2;

}

.rules_div {
    padding-top: 90px;
    text-align: center;
}

#rules_title,
#contact_title,
#payment_title,
#tips_title {
    color: #647f64;
}

.contact_div,
.payment_div,
.tips_div {
    padding-top: 50px;
    text-align: center;
}

.instagram {
    font-weight: bold;
}

  /* 
   ------------------------------- FOOTER -------------------------------
*/

.footer__logo--img {
    width: 10%;
}

footer {
    position: relative;
    padding: 4% 0;
    display: flex;
    align-items: center;
  }
  
  .footer__row {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer__social--link,
.footer__copyright,
.footer__website-made-by {
  margin-left: 10px;
  margin-bottom: 10px;
  text-align: center;
}

.footer__logo {
    text-align: center;
}

.footer__social--link  {
    font-size: 20px;
}